@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "icomoon";
  content: attr(data-icon);
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.foo:before {
  content: "\e001";
  font-family: "icomoon";
}

body {
  margin: 0;
  background-image: url(../img/bakgrunnur.jpg);
  background-attachment: fixed;
  background-size: cover;
}

body {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 10% 20% 35% 20% 10%;
      grid-template-columns: 10% 20% 35% 20% 10%;
  -ms-grid-rows: 9% auto 20%;
      grid-template-rows: 9% auto 20%;
      grid-template-areas: "logo navid navid navid bil" "logo haus haus article bil" "logo haus haus article bil" "footer footer footer footer footer";
}

header {
  background-color: rgba(0, 0, 0, 0.336);
  border-radius: 5px;
}

header p {
  padding: 10px;
  color: white;
}

.hreyfitexti {
  color: black;
  text-align: center;
  background: white;
  height: 60px;
  overflow: hidden;
}

.lina {
  font-family: montserrat,sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 60px;
}

.lina:first-child {
  -webkit-animation: anim 30s infinite;
          animation: anim 30s infinite;
}

@-webkit-keyframes anim {
  0% {
    margin-top: 0px;
  }
  16% {
    margin-top: -60px;
  }
  33% {
    margin-top: -120px;
  }
  55% {
    margin-top: -180px;
  }
  66% {
    margin-top: -120px;
  }
  82% {
    margin-top: -60px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes anim {
  0% {
    margin-top: 0px;
  }
  16% {
    margin-top: -60px;
  }
  33% {
    margin-top: -120px;
  }
  55% {
    margin-top: -180px;
  }
  66% {
    margin-top: -120px;
  }
  82% {
    margin-top: -60px;
  }
  100% {
    margin-top: 0px;
  }
}

.geimflaug {
  position: absolute;
  left: 5%;
  bottom: 2%;
}

#Raketta {
  -webkit-animation: flaug ease 15s;
          animation: flaug ease 15s;
}

@-webkit-keyframes flaug {
  from {
    -webkit-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
  }
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes flaug {
  from {
    -webkit-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
  }
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

#reikur {
  -webkit-animation: reikur linear 5s infinite;
          animation: reikur linear 5s infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

@-webkit-keyframes reikur {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes reikur {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.kassi {
  text-align: center;
  border: solid white;
}

.kassi2 {
  padding: 10px;
  border: solid white;
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: logo;
  border: solid 1px;
  color: blue;
  top: 25%;
  font-size: 30px;
  position: fixed;
  display: block;
  width: 30px;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  text-align: left;
}

.logo a {
  text-decoration: none;
}

.logo a:hover {
  color: blue;
}

nav {
  padding: 10px;
  background-image: url(../img/space.jpg);
  border: solid 2px white;
  border-radius: 5px;
  background-color: white;
}

nav ul {
  list-style: none;
}

nav ul li {
  float: right;
}

nav ul li a {
  display: block;
  color: white;
  padding: 11px;
  font-size: 14px;
}

nav ul li a:hover:first-child {
  background-color: white;
  border-radius: 5px;
  -webkit-animation: fade 2s forwards;
          animation: fade 2s forwards;
}

@-webkit-keyframes fade {
  0% {
    background-color: rgba(255, 255, 255, 0.199);
    color: #7c7b7b;
  }
  20% {
    background-color: rgba(255, 255, 255, 0.418);
    color: #4d4c4c;
  }
  40% {
    background-color: rgba(255, 255, 255, 0.63);
    color: #353535;
  }
  60% {
    background-color: rgba(255, 255, 255, 0.705);
    color: #181818;
  }
  80% {
    background-color: rgba(255, 255, 255, 0.877);
    color: #0c0c0c;
  }
  100% {
    background-color: white;
    color: black;
  }
}

@keyframes fade {
  0% {
    background-color: rgba(255, 255, 255, 0.199);
    color: #7c7b7b;
  }
  20% {
    background-color: rgba(255, 255, 255, 0.418);
    color: #4d4c4c;
  }
  40% {
    background-color: rgba(255, 255, 255, 0.63);
    color: #353535;
  }
  60% {
    background-color: rgba(255, 255, 255, 0.705);
    color: #181818;
  }
  80% {
    background-color: rgba(255, 255, 255, 0.877);
    color: #0c0c0c;
  }
  100% {
    background-color: white;
    color: black;
  }
}

nav a {
  text-decoration: none;
}

nav img {
  display: none;
}

article {
  color: white;
  background-image: url(../img/space.jpg);
}

article p {
  text-align: center;
  padding: 5px;
  color: white;
}

article a {
  text-decoration: none;
}

article img {
  width: 100%;
}

.hnappur {
  color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(grey));
  background-image: linear-gradient(white, grey);
  padding: 5px;
}

footer {
  margin-left: 10%;
  color: white;
}

footer img {
  background-image: -webkit-gradient(linear, left top, left bottom, from(blue), to(lightblue));
  background-image: linear-gradient(blue, lightblue);
  margin: 10px;
  padding: 10px;
  width: 200px;
  height: 200px;
}

.mynd1 {
  width: 300px;
}

nav {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: navid;
}

header {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: haus;
}

article {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: article;
  border: solid 3px;
  border-radius: 5px;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: footer;
}

.bil {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  grid-area: bil;
}

@media screen and (max-width: 40em) {
  body {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: 8% 78%;
        grid-template-columns: 8% 78%;
    -ms-grid-rows: 12% auto auto 20%;
        grid-template-rows: 12% auto auto 20%;
        grid-template-areas: "logo navid" "logo haus" "logo article" "logo footer";
  }
  nav {
    word-spacing: 15px;
  }
  nav .look {
    display: -ms-grid;
    display: grid;
    text-align: center;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  nav .navdrop {
    background-color: rgba(255, 255, 255, 0.616);
    border-radius: 5px;
  }
  nav ul {
    text-align: center;
    margin: 0;
    padding: 5px;
    list-style: none;
    text-transform: uppercase;
    font-size: 10px;
  }
  nav ul:first-child {
    text-align: center;
    -webkit-animation: anim 1s ease;
            animation: anim 1s ease;
  }
  @-webkit-keyframes anim {
    0% {
      margin-left: 0px;
    }
    50% {
      margin-left: 100px;
    }
    80% {
      margin-right: -20px;
    }
    100% {
      margin-right: 0px;
    }
  }
  @keyframes anim {
    0% {
      margin-left: 0px;
    }
    50% {
      margin-left: 100px;
    }
    80% {
      margin-right: -20px;
    }
    100% {
      margin-right: 0px;
    }
  }
  nav ul img {
    margin-left: 25px;
    width: 80px;
    height: 80px;
  }
  nav ul li {
    float: none;
    color: white;
    text-align: center;
  }
  nav ul li a {
    padding: 10px;
    color: white;
    text-decoration: none;
    line-height: 30px;
    font-size: 12px;
  }
  nav ul li a:hover:first-child {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(90%, white), color-stop(10%, yellow));
    background-image: linear-gradient(white 90%, yellow 10%);
    border-radius: 5px;
    color: black;
    -webkit-animation: anim4 1s forwards;
            animation: anim4 1s forwards;
  }
  @-webkit-keyframes anim4 {
    0% {
      font-size: 12px;
    }
    20% {
      font-size: 13px;
    }
    40% {
      font-size: 14px;
    }
    60% {
      font-size: 15px;
    }
    80% {
      font-size: 14px;
    }
    90% {
      font-size: 13px;
    }
    100% {
      font-size: 12px;
    }
  }
  @keyframes anim4 {
    0% {
      font-size: 12px;
    }
    20% {
      font-size: 13px;
    }
    40% {
      font-size: 14px;
    }
    60% {
      font-size: 15px;
    }
    80% {
      font-size: 14px;
    }
    90% {
      font-size: 13px;
    }
    100% {
      font-size: 12px;
    }
  }
  nav ul li ul li {
    display: none;
  }
  nav ul li:hover:first-child ul li {
    -webkit-animation: anim2 1s ease;
            animation: anim2 1s ease;
    display: block;
  }
  @-webkit-keyframes anim2 {
    0% {
      margin-left: 0px;
    }
    50% {
      margin-left: 20px;
    }
    100% {
      margin-right: 0px;
    }
  }
  @keyframes anim2 {
    0% {
      margin-left: 0px;
    }
    50% {
      margin-left: 20px;
    }
    100% {
      margin-right: 0px;
    }
  }
  nav a {
    font-size: 15px;
  }
  nav img {
    display: block;
    width: 50px;
  }
  article {
    padding: 0px;
    font-size: 20px;
  }
  footer {
    margin-left: 20%;
  }
}

@media screen and (max-width: 20em) {
  body {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: 8% 30% 30% 20%;
        grid-template-columns: 8% 30% 30% 20%;
    -ms-grid-rows: 5% auto 20%;
        grid-template-rows: 5% auto 20%;
        grid-template-areas: "logo navid navid navid" "logo haus haus article" "logo haus haus article" "logo footer footer footer";
  }
  nav {
    word-spacing: 15px;
  }
  nav a {
    font-size: 18px;
  }
}
/*# sourceMappingURL=forsiða.css.map */